[submodule "lib/bls-signatures"]
	path = lib/bls-signatures
	url = https://github.com/yanghaoxuan2017/bls-signatures.git
[submodule "lib/BLAKE3"]
	path = lib/BLAKE3
	url = https://github.com/yanghaoxuan2017/BLAKE3.git
